:root{
    --cardheight:100px;
}


body{
    background-color: whitesmoke;
}

#login-form{
    padding-top:10%;
}
#signup-form{
    padding-top: 5%;
}
#vueapp{
    margin-top: 10%;
}
.card{
    min-height: var(--cardheight);
}
.card textarea{
    min-height: var(--cardheight);
}

#deletecard{
    color: red;
}

#completedbox:checked{
    background-color:greenyellow 
}


.form-check-label span{
    font-size: 12px;
}



#listcol{
    z-index:10 ;
}