:root{
    --cardheight:100px;
}


body{
    background-color: whitesmoke;
}

#login-form{
    padding-top:10%;
}
#signup-form{
    padding-top: 5%;
}
#vueapp{
    margin-top: 10%;
}
.card{
    min-height: var(--cardheight);
}
.card textarea{
    min-height: var(--cardheight);
}

#deletecard{
    color: red;
    font-size: 18px;
    padding-bottom: 5px;
}

#completedbox:checked{
    background-color:#3976D3
}

#completedbox{
    padding-bottom: 5px;
}


.form-check-label span{
    font-size: 12px;
}

#datetable p{
    font-size: 12px;
    font-weight: bold;
}

input[type=date]{
    height:24px;
    font-size: 12px;
    padding-bottom: 5px;
}

textarea{
    font-size: large;
}

.nav-tabs input{
    height: 48px;
}

#addlist{
    height:100%;
    width: 100%;
    background-color:whitesmoke;
    font-size: 20px;
}